.castles {
    .title {
        text-align: center;
    }
    .castle {
        margin-top: 10px;
        border : 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        .name {
            text-align: center;
        }
        .button {
            margin-top: 10px;
        }
    }
    .button {
        margin-top: 10px;
    }
}