.clan-requests {
    .title {
        text-align: center;
    }
    .head {
        display: flex;
        padding: 10px;
        span {
            width: 50%;
            text-align: center;
            @include pxToRem(20);
            font-weight: 600;
        }
    }
    .clan-request {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-top: 1px solid #000;
        span {
            width: 50%;
            text-align: center;
            @include pxToRem(20);
        }
        .actions {
            width: 100%;
            display: flex;
            column-gap: 20px;
            .button {
                @include pxToRem(20);
            }
        }
    }
}
