@mixin pxToRem($size) {
    font-size: ($size / 12) + rem;
}
.Toastify__toast-body {
    @include pxToRem(24);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media only screen and (max-width: 768px) {
        font-size: 8px;
    }
}

.title {
    font-size: 2rem;
}

#App {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.5);
    #fixed-height {
        flex: 1;
        overflow-y: scroll;
    }
    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 999;
        &.show {
            opacity: 1;
            pointer-events: all;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20%;
        }
    }
    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 20px;
        input {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            border: 2px solid #000;
            border-radius: 10px;
            font-size: 24px;
        }
        button {
            width: 50%;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            padding: 10px;
            background-color: #d96218;
            border: none;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .resources {
        display: flex;
        flex-wrap: wrap;
        .type {
            width: 25%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.2);
            }
            .value {
                @include pxToRem(24);
            }
            img {
                width: 50%;
            }
            .name {
                @include pxToRem(16);
            }
            .rate {
                @include pxToRem(20);
            }
        }
    }
    .upgrade {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        &.show {
            opacity: 1;
            pointer-events: all;
        }
        .mask {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .body {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: #fff;
            border-radius: 5px;
            width: 90%;
            .title {
                font-weight: 600;
                border-bottom: 1px solid #000;
                padding-bottom: 20px;
            }
            .content {
                .input {
                    margin-top: 20px;
                    input {
                        width: 100%;
                        padding: 5px;
                        font-size: 24px;
                    }
                }
                .costs {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .title {
                        width: 100%;
                        border: none;
                        padding: 0;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .total-cost {
                        width: 100%;
                        @include pxToRem(24);
                        margin-bottom: 10px;
                        text-align: center;
                        font-weight: 600;
                    }
                    .cost {
                        display: flex;
                        align-items: center;
                        width: 25%;
                        justify-content: center;
                        span {
                            font-size: 24px;
                            font-weight: 500;
                            margin-right: 10px;
                        }
                        img {
                            width: 30%;
                        }
                        @media only screen and (max-width: 768px) {
                            width: 50%;
                            img {
                                width: 20%;
                            }
                        }
                    }
                }
                .sub-info {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;
                    @include pxToRem(24);
                    @media only screen and (max-width: 768px) {
                        flex-direction: column;
                    }
                }
                .unit-info {
                    .title {
                        border: none;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    .info {
                        display: flex;
                        padding: 5px;
                        @include pxToRem(24);
                        background-color: #ddd;
                        &:nth-child(odd) {
                            background-color: #ccc;
                        }
                        span {
                            display: block;
                            flex : 1;
                            +span {
                                width: 40px;
                                flex: 0;
                            }
                        }
                    }
                }
            }
            .button {
                border-radius: 10px;
                padding: 10px;
                @include pxToRem(24);
                font-weight: 600;
                color: #fff;
                background-color: #d96218;
                text-align: center;
                margin-top: 20px;
                cursor: pointer;
            }
        }
    }
    .upgrading {
        padding: 20px;
        opacity: 0;
        pointer-events: none;
        &.show {
            opacity: 1;
            pointer-events: all;
        }
        .title {
            font-weight: 600;
        }
        .timeleft {
            @include pxToRem(24);
            margin-top: 10px;
        }
        
    }
    .buildings {
        padding: 20px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        .title {
            width: 100%;
            font-weight: 600;
            text-align: center;
        }
        .building {
            padding: 10px;
            width: 25%;
            cursor: pointer;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                background-color: rgba($color: #000000, $alpha: 0);
                transition: 0.3s;
            }
            &:hover {
                &::before {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                }
            }
            .img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .name {
                @include pxToRem(24);
                text-align: center;
            }
            .generate {
                text-align: center;
                @include pxToRem(20);
                span {
                    width: 100%;
                    display: inline-block;
                    @include pxToRem(22);
                }
            }
            @media only screen and (max-width: 768px) {
                width: 50%;
            }
        }
    }
    .units {
        padding: 20px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        .title {
            width: 100%;
            font-weight: 600;
            text-align: center;
        }
        .unit {
            width: 25%;
            cursor: pointer;
            padding: 20px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                background-color: rgba($color: #000000, $alpha: 0);
                transition: 0.3s;
            }
            &:hover {
                &::before {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                }
            }
            .img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .name {
                @include pxToRem(20);
                text-align: center;
            }
            .total {
                text-align: center;
                font-weight: 600;
                @include pxToRem(24);
            }
            @media only screen and (max-width: 768px) {
                width: 50%;
            }
        }
    }
    .trainning-queue {
        padding: 20px;
        opacity: 0;
        pointer-events: none;
        &.show {
            opacity: 1;
            pointer-events: all;
        }
        .title {
            font-weight: 600;
            .total {
                color: #ff0000;
            }
        }
        .timeleft {
            @include pxToRem(20);
        }
    }
    .actions {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        .action {
            background-color: #d96218;
            border-radius: 5px;
            padding: 10px;
            color: #fff;
            @include pxToRem(24);
            font-weight: 600;
            cursor: pointer;
        }
    }
    .enemy-model {
        position: absolute;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        .mask {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .list-enemy {
            width: 90%;
            max-height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            .reload {
                text-align: center;
                cursor: pointer;
                padding: 5px;
                background-color: #d96218;
                font-size: 24px;
                border-radius: 5px;
                margin-bottom: 10px;
                color: #fff;
            }
            .enemy {
                padding: 10px;
                border: 1px solid #000;
                border-radius: 5px;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                .actions {
                    padding: 0;
                    margin-top: 10px;
                    column-gap: 10px;
                    .action {
                        font-size: 16px;
                        font-weight: 400;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
                + .enemy {
                    margin-top: 10px;
                }
            }
        }
    }
    .attack {
        position: absolute;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        .mask {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .list-units {
            width: 90%;
            max-height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            .title {
                font-weight: 600;
            }
            .row {
                display: flex;
                margin-top: 10px;
                align-items: center;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 5px;
                .info {
                    width: 50%;
                    @include pxToRem(24);
                    .name {
                        width: 100%;
                    }
                    .speed {
                        width: 100%;
                    }
                }
                .input {
                    width: 50%;
                    .min-max {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 20px;
                        width: 100%;
                        span {
                            @include pxToRem(24);
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    input {
                        margin-top: 10px;
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 5px;
                        width: 100%;
                    }
                }
            }
            .attack-speed {
                @include pxToRem(24);
                font-weight: 600;
                display: flex;
                margin-top: 10px;
                span {
                    width: 50%;
                    display: block;
                }
                select {
                    width: 50%;
                }
            }
            .moving-time {
                @include pxToRem(24);
                font-weight: 600;
                color: #d96218;
            }
            button {
                background-color: #d96218;
                cursor: pointer;
                border: none;
                padding: 10px;
                border-radius: 5px;
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                color: #fff;
            }
        }
    }
    .activity {
        .title {
            font-weight: 600;
            text-align: center;
        }
        .activity-units {
            margin-top: 10px;
            .title {
                font-weight: 600;
                text-align: center;
            }
            .unit {
                display: flex;
                padding: 10px;
                background-color: #ddd;
                @include pxToRem(24);
                &:nth-child(odd) {
                    background-color: #eee;
                }
                * {
                    display: block;
                    width: 50%;
                    text-align: center;
                }
            }
        }
        .activity-cargo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            .title {
                width: 100%;
                font-weight: 600;
                text-align: center;
            }
            .cargo {
                display: flex;
                width: 25%;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                .img {
                    width: 30%;
                    img {
                        width: 100%;
                    }
                }
                .value {
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 5px;
                }
                @media only screen and (max-width: 768px) {
                    width: 50%;
                    .img {
                        width: 20%;
                    }
                }
            }
        }
    }
    .activities {
        padding: 20px;
        .title {
            font-weight: 600;
            text-align: center;
        }
        .list-activity {
            background-color: #fff;
            border-radius: 5px;
            margin-top: 10px;
            .title-head {
                display: flex;
                * {
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .from,
                .to {
                    width: 20%;
                }

                .time {
                    flex: 1;
                }
            }
            .activity {
                display: flex;
                align-items: center;
                + .activity {
                    margin-top: 10px;
                }
                .from,
                .target {
                    width: fit-content;
                    width: 20%;
                    text-align: center;
                    @include pxToRem(18);
                }
                .time {
                    flex: 1;
                    background-color: #ccc;
                    position: relative;
                    width: 100%;
                    height: 20px;
                    @include pxToRem(18);
                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.moving {
                        &::before {
                            left: 0;
                        }
                    }
                    &.comehome {
                        &::before {
                            right: 0;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: var(--progress);
                        top: 0;
                        background-color: rgb(71, 214, 71);
                    }
                }
            }
        }
    }

    .modal {
        position: absolute;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        .mask {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .body {
            width: 90%;
            max-height: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
        }
    }
    .battles {
        .battle {
            border: 1px solid #000;
            padding: 10px;
            border-radius: 5px;
            .time {
                @include pxToRem(24);
                text-align: center;
                font-weight: 600;
            }
            .from-to {
                display: flex;
                * {
                    width: 50%;
                    @include pxToRem(20);

                    font-weight: 600;
                }
                .to {
                    text-align: right;
                }
            }
            .result {
                @include pxToRem(24);
                font-weight: 600;
                text-align: center;
                img {
                    width: 100%;
                }
            }
            .detail {
                @include pxToRem(24);
                display: block;
                background-color: #d96218;
                border-radius: 5px;
                color: #fff;
                text-align: center;
                font-weight: 30;
                margin: 0 auto;
                margin-top: 10px;
                width: fit-content;
                padding: 10px;
                cursor: pointer;
            }
            + .battle {
                margin-top: 10px;
            }
        }
    }
    .battle-detail {
        .start {
            .title {
                font-weight: 600;
                text-align: center;
            }
            .players {
                display: flex;
                margin-top: 10px;
                background-color: #ccc;
                > p {
                    @include pxToRem(24);
                    text-align: center;
                    width: 100%;
                    padding: 5px;
                    .attacker {
                        color: #c23f3f;
                        font-weight: 600;
                    }
                    .defender {
                        color: rgb(85, 214, 85);
                        font-weight: 600;
                    }
                    .total {
                        color: #c23f3f;
                        font-weight: 600;
                    }
                }
                .player {
                    height: 100%;
                    width: 50%;
                    padding: 10px;
                    p {
                        @include pxToRem(18);
                        color: #c23f3f;
                        font-weight: 500;
                    }
                    .player-units {
                        width: 100%;
                        margin-top: 10px;
                        .unit {
                            display: flex;
                            background-color: #ddd;
                            padding: 5px 0;
                            &:nth-child(odd) {
                                background-color: #eee;
                            }
                            span {
                                display: block;
                                width: 30%;
                                text-align: center;
                                @include pxToRem(16);
                                + span {
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
            }
            .rounds {
                .round {
                    margin-top: 10px;
                    .round-actions {
                        margin-top: 10px;
                        .action {
                            padding: 10px;
                            background-color: #f5b48b;
                            @include pxToRem(18);
                            &:nth-child(odd) {
                                background-color: #f1d2bf;
                            }
                            .attacker-unit {
                                color: #d96218;
                                font-weight: 600;
                            }
                            .attacker-name {
                                font-weight: 600;
                                color: #db5b5b;
                            }
                            .total-hit {
                                color: #c23f3f;
                                font-weight: 600;
                            }
                            .defender-unit {
                                font-weight: 600;
                                color: rgb(24, 240, 24);
                            }
                            .defender-name {
                                font-weight: 600;
                                color: rgb(72, 240, 72);
                            }
                        }
                    }
                }
            }
        }
        .end {
            margin-top: 10px;
            .title {
                font-weight: 600;
                text-align: center;
            }
            p {
                text-align: center;
                font-weight: 600;
                @include pxToRem(24);
                color: #c23f3f;
            }
            .lose,
            .information {
                text-align: center;
                @include pxToRem(18);
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: #c23f3f;
                    font-weight: 600;
                }
            }
            .information {
                .resrouces {
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    .title {
                        width: 100%;
                        font-weight: 600;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    .res {
                        display: flex;
                        width: 25%;
                        align-items: center;
                        justify-content: center;
                        .img {
                            width: 30%;
                            img {
                                width: 100%;
                            }
                        }
                        .value {
                            @include pxToRem(18);
                            font-weight: 600;
                            margin-left: 5px;
                        }
                        @media only screen and (max-width: 768px) {
                            width: 50%;
                            .img {
                                width: 20%;
                            }
                        }
                    }
                }
                .spy-units {
                    margin-top: 10px;
                    .unit {
                        padding: 5px 0;
                        display: flex;
                        background-color: #ccc;
                        &:nth-child(odd) {
                            background-color: #ddd;
                        }
                    }
                }
                .spy-building {
                    margin-top: 10px;
                    .building {
                        padding: 5px 0;
                        display: flex;
                        background-color: #ccc;
                        &:nth-child(odd) {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
        .lost {
            span {
                display: block;
                width: 100%;
                color: #c23f3f;
                margin-top: 10px;
                @include pxToRem(24);
                text-align: center;
                font-weight: 600;
            }
        }
        .stolen {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            .title {
                width: 100%;
                font-weight: 600;
                text-align: center;
                margin-bottom: 10px;
            }
            .res {
                display: flex;
                width: 25%;
                align-items: center;
                justify-content: center;
                .img {
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
                .value {
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 5px;
                }
                @media only screen and (max-width: 768px) {
                    width: 50%;
                }
            }
        }
    }
}
